/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

/*
* 1. Background colors
* 2. Borders
* 3. Box Shadows
* 4. Fonts
* 5. Message Colors
* 6. Global Styles
* 7. Width
* 8. Pagination 
*
*/


/*  1. Background Colors  */

.bg-white{
	background-color: white;
}

.bg-orange{
	background-color: orange;
}

.bg-yellow{
	background-color: yellow;
}

.bg-red{
	background-color: red;
}

.bg-purple{
	background-color: purple;
}

.bg-blue{
	background-color: blue;
}

.bg-magenta{
	background-color: magenta;
}


/* 2. Borders */

.round-border5{
	border-radius: 5px;
}

.round-border10{
	border-radius: 10px;
}

.round-border15{
	border-radius: 15px;
}

.round-border20{
	border-radius: 20px;
}

/*  3. Box Shadows */

.box-shadow-common{
	/* box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit; */
	box-shadow: 5px 5px 5px 3px #999; 
	
}


/*  4. Fonts */

@font-face{
	font-family: track;
	src: url('../fonts/arial.ttf');
}

@font-face{
	font-family: din_regular;
	src: url('../fonts/DINNextCYR-Regular.otf');
}

@font-face{
	font-family: din_light;
	src: url('../fonts/DINNextCYR-Light.otf');
}

@font-face{
	font-family: din_light1;
	src: url('../fonts/DINNextLTPro-Light.otf');
}

/* 5. Message Colors */

.msg-success{
	color: green;
}

.msg-error{
	color: red;
}

/* 6. Global Styles */

.loading-anim{
	/* height: 48px;
	width: 48px; */
	display: inline-block;
}

.loading-anim img{
	height: 32px;
	width: 32px;
}

.width-20{
	max-width: 20px;
}
.width-50{
	max-width: 50px;
}
.width-100{
	max-width: 100px !important;
}
.width-200{
	max-width: 200px;
}
.width-300{
	max-width: 300px;
}
.inline-block{
	display: inline-block;
}
.no-padding{
	padding: 0px !important;
}
.no-margin{
	margin: 0px !important;
}


/* 7. Pagination */

.custom_pagination{
	margin: 10px;
	float: right;
}

.custom_pagination a{
	background: #eee;
	border-radius: 3px;
	text-decoration: none;
	
}

.custom_pagination a:hover{
	text-decoration: none;
}


.custom_pagination>*{
	padding: 5px 10px 5px 10px;
	margin: 2px;
}

/* 8. Validation */

.input-border-red{
	border: 1px solid red !important;
}

.input-border-green{
	border: 1px solid green !important;
}






















/* overriding Theme Style */

.logo-default{
	margin: 0px !important;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}


/* overriding Theme Style */